* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #b79268;
}

body {
  background: url('../assets/potato-bg.jpeg');
}

/* homepage  */

.navbar {
  border-bottom: 2px solid var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.navbar-items {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.navbar-items li {
  list-style: none;
  font-size: 1.4rem;
  color: var(--font-color);
}

.navbar-items li:hover {
  text-decoration: underline;
  opacity: 50%;
  cursor: pointer;
}

.homepage-body {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.restaurant-name {
  font-size: 5rem;
  color: var(--font-color);
}

.restaurant-quote {
  color: var(--font-color);
}

.open-menu {
  color: var(--font-color);
  padding: 0.5rem 1.5rem;
  margin: 2rem;
  background-color: black;
  border: 2px solid var(--font-color);
}

.open-menu:hover {
  background-color: white;
  cursor: pointer;
}

.opening-hours {
  color: var(--font-color);
}

.footer {
  border-top: 2px solid var(--font-color);
  height: 3rem;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  text-decoration: none;
  color: var(--font-color);
}

.footer-content:hover {
  cursor: pointer;
}

/* Menu page */
.menu {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  height: 85%;
  width: 90%;
  background-color: black;
  opacity: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--font-color)
}

.menu-item img {
  height: 80px;
  width: 80px;
}

.item-label {
  margin-left: 1rem;
}

.menu-item h2 {
  color: var(--font-color);
  width: 20%;
}

.menu-item p {
  color: var(--font-color);
}

/* contact page */

.contact-body {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-div{
  height: 500px;
  width: 500px;
  background-color: black;
  opacity: 60%;
  padding: 2rem;
}

.contact-info {
  color: var(--font-color);
  margin-bottom: 1rem;
  font-style: bold;
}

.contact-map {
  height: 350px;
  width: 435px;
}